//break points
$desktop_breakpoint: 1280px;
$mobile_breakpoint: 767px;

$bg-color: #aca8a4;

$dark-brown: #5a554c;
$white-gray: #ebe7e7;
$nav-font-color: #eaeaea;
$btn-color: #ddd6cb;
$btn-hover: rgb(177, 171, 162);
